* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(90deg, #2d00f7, #d100d1);
  color: white;
  padding: 20px 0;
}
.App h1 {
  padding: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #e9c46a;
}

p {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.courseList {
  display: flex;
  flex-flow: wrap;
}
